@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
font-family: 'VG5000';
src: url('/fonts/VG5000-Regular.otf') format('opentype');
font-weight: normal;
font-style: normal;
}

/* styles/globals.css */
html, body {
    @apply font-vg5000;
  }
  
@layer utilities {
  .grid-cols-15 {
    grid-template-columns: repeat(15, minmax(0, 1fr));
  }
  .grid-cols-18 {
    grid-template-columns: repeat(18, minmax(0, 1fr));
  }
}
  
  